__pycache__
.eggs
.pytest_cache
.vscode
build
docker
scripts/run.sh
.editorconfig
.gitignore
Jenkinsfile
LICENSE

*.md
*.egg-info


**/CMakeFiles
**/cmake_install.cmake
**/CMakeCache.txt
**/Makefile

.venv/
dist/
geo-algo/VK-Aquifers/build/
pykarstnsim/build/
