version: "3"
services:
  api:
    image: geocruncher/geocruncher-dev:latest
    depends_on:
      - redis
    command: ["bash", "--login", "/home/build/scripts/api.sh"]
    ports:
      - "5001:5000"
    environment:
      - REDIS_HOST=redis
    logging:
      driver: "journald"
      options:
        tag: "geocruncher.dev"
        labels: "api"
  worker:
    image: geocruncher/geocruncher-dev:latest
    depends_on:
      - redis
    command: ["bash", "--login", "/home/build/scripts/worker.sh"]
    environment:
      - REDIS_HOST=redis
      - PROFILING_ENABLED=true
    logging:
      driver: "journald"
      options:
        tag: "geocruncher.dev"
        labels: "worker"
  redis:
    image: redis:8.2
    volumes:
      - /root/data/web-ci/var/lib/redis:/data
    restart: unless-stopped
    ports:
      - "6380:6379"
    logging:
      driver: "journald"
      options:
        tag: "geocruncher.dev"
        labels: "redis"

