services:
  api:
    image: geocruncher/geocruncher-api-dev:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    depends_on:
      - redis
    ports:
      - "5001:5000"
    environment:
      - REDIS_HOST=redis
    logging:
      driver: "journald"
      options:
        tag: "geocruncher.dev"
        labels: "api"
  worker:
    image: geocruncher/geocruncher-worker-dev:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile.worker
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - PROFILING_ENABLED=true
    logging:
      driver: "journald"
      options:
        tag: "geocruncher.dev"
        labels: "worker"
  redis:
    image: redis:7.4
    volumes:
      - /root/data/web-ci/var/lib/redis:/data
    restart: unless-stopped
    logging:
      driver: "journald"
      options:
        tag: "geocruncher.dev"
        labels: "redis"

