[Unit]
Description=Geocruncher Prod Docker Compose container starter
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
WorkingDirectory=/root/geocruncher
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/docker-compose -p geocruncher -f /root/geocruncher/docker/prod.docker-compose.yaml up -d
ExecStop=/usr/bin/docker-compose -p geocruncher -f /root/geocruncher/docker/prod.docker-compose.yaml down
ExecReload=/usr/bin/docker-compose -p geocruncher -f /root/geocruncher/docker/prod.docker-compose.yaml up -d

[Install]
WantedBy=multi-user.target
