[Unit]
Description=Geocruncher Dev Docker Compose container starter
After=docker.service network-online.target geocruncher.prod.service
Requires=docker.service network-online.target

[Service]
WorkingDirectory=/root/geocruncher
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/docker compose -p geocruncher-dev -f /root/geocruncher/docker/dev.docker-compose.yaml up -d
ExecStop=/usr/bin/docker compose -p geocruncher-dev -f /root/geocruncher/docker/dev.docker-compose.yaml down
ExecReload=/usr/bin/docker compose -p geocruncher-dev -f /root/geocruncher/docker/dev.docker-compose.yaml up -d

[Install]
WantedBy=multi-user.target
