services:
  api:
    image: geocruncher/geocruncher-api:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    restart: unless-stopped
    depends_on:
      - redis
    # override to start using flask dev server
    command: ["python", "geocruncher-api/main.py"]
    ports:
      - "5000:5000"
    develop:
        watch:
          - action: sync
            path: ../geocruncher-api
            target: /app/geocruncher-api
          - action: sync
            path: ../geocruncher-common
            target: /app/geocruncher-common
    environment:
      - REDIS_HOST=redis
  worker:
    image: geocruncher/geocruncher-worker:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile.worker
    restart: unless-stopped
    depends_on:
      - redis
    command: ["watchmedo", "auto-restart", "--directory=./", "--pattern=*.py", "--recursive", "--", "celery", "-A", "geocruncher_common.celery_app", "worker", "-l", "INFO", "-Q", "geocruncher:long_running,geocruncher:priority"]
    develop:
        watch:
          - action: sync
            path: ../geocruncher-worker
            target: /app/geocruncher-worker
          - action: sync
            path: ../geocruncher-common
            target: /app/geocruncher-common
    environment:
      - REDIS_HOST=redis
      - PROFILING_ENABLED=true
  redis:
    image: redis:7.4
    restart: unless-stopped
    volumes:
      - redis-data:/data

volumes:
  redis-data:
