version: "3"
services:
  api:
    image: geocruncher/geocruncher-local:latest
    build:
      context: ..
      dockerfile: docker/local.Dockerfile
    depends_on:
      - redis
    command: ["bash", "--login", "/home/build/scripts/api-local.sh"]
    ports:
      - "5000:5000"
    volumes:
      # Avoid packaging api / geocruncher on every change by linking to on-disk code
      - $PWD:/home/build
    environment:
      - REDIS_HOST=redis
  worker:
    image: geocruncher/geocruncher-local:latest
    build:
      context: ..
      dockerfile: docker/local.Dockerfile
    depends_on:
      - redis
    command: ["bash", "--login", "/home/build/scripts/worker-local.sh"]
    volumes:
      # Avoid packaging api / geocruncher on every change by linking to on-disk code
      - $PWD:/home/build
    environment:
      - REDIS_HOST=redis
      - PROFILING_ENABLED=true
  redis:
    image: redis:8.2
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
